@import url('https://fonts.googleapis.com/css?family=Lobster');

@font-face {
	font-family: Palatino;
	src: url(Palatino.ttc);
}

body {
	background-image: linear-gradient(45deg red blue);
	background-size: cover;
	font-family:'Palatino';
}

.veriteLiens {
	position: relative;
	display: inline-block;
}

.textVerite {
	visibility: hidden;
	width: 160px;
	background-color: rgba(0,0,0,0.35);
	color: white;
	border-radius: 0.2em;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.veriteLiens:hover .textVerite {
	visibility: visible;
}

#navTitle {
	font-size: 1em;
	font-family: 'Lobster', cursive;
	color: rgb(89, 179, 0);
	text-shadow: -.05em -.05em .05em rgb(179, 255, 179) , .03em .03em .05em black;
}

.nav-link:after{
	content: "|";
	margin-left: 1em;
	color: inherit;
}

.fbButton{
	margin-left: auto;
	position: relative;
	padding-top: 0.5em;
}

.etudes-article {
	border-bottom-style: solid;
	border-right-style: solid;
	border-color: rgb(146, 149, 145);
	border-radius: 0.25em;
	box-shadow: 5px 5px rgba(146, 149, 145,0.25);
	margin: 2em;
}

.etudes-article a:visited {
	color: black;
}

.etudes-article a {
	color: black;
	font-size: 0.9em;
}

footer {
	background: #3e3b38;
	color: gray;
	text-align: center;
}

footer a {
	color: gray;
	text-align: center;
}

footer a:hover {
	color: gray;
	text-decoration: none;
}

.facebook{
	text-align: center;
	display: inline-block;
	float: right;
	margin-right: auto;
}

.facebookAll {
/*	width: 5%;*/
/*	float: right;*/
/*	position: relative;*/
/*	display: inline-block;*/
}

.fbBox {
/*	visibility: hidden;*/
	display: none;
	position: absolute;
/*	position: relative;*/
}

.facebookAll:hover +.fbBox {
	visibility: visible;
/*	display: block;*/
}

.copyrightText {
	margin-left: 1em;
/*	margin-bottom: 2em;*/
/*	display: block;*/
	float: left;
}

.nameTime {
	visibility: hidden;
	color: #c8cac8;
/*	width: 300px;*/
/*	display: none;*/
	background-color: rgba(0,0,0,0.20);
	border-radius: 0.2em;
	position: relative;
	margin-left: 3em ;
}

.copyrightText:hover +.nameTime {
/*	display: block;*/
	visibility: visible;

}

.logo-facebook {
	width: 5em;
	height: 5em;
}


.text_intro{
	margin-top: 5em;
	margin-bottom: 5em;
	border-style: hidden solid solid hidden;
	border-color: silver;
	box-shadow : .05em 1em 2em rgb(89, 179, 0) ;
	font-family: Arial;
	font-style: italic;
	text-align: justify;
	padding: 5em;
	text-align: center;
}

.text_intro p{
	text-align: left;
}

#titre_intro{
	font-family:Lobster;
	margin: auto;
/*	text-align: center;*/
	font-style: normal;
}