@import url('https://fonts.googleapis.com/css?family=Lobster');

@font-face {
	font-family: Palatino;
	src: url(Palatino.ttc);
}

body {
	background-image: linear-gradient(45deg red blue);	
	background-size: cover;
	font-family:'Palatino';
}

header {
	background: url(../images/tree.jpg) no-repeat;
	background-size: cover;
	height: 20em;
}

.veriteLiens {
	position: relative;
	display: inline-block;
}

.textVerite {
	visibility: hidden;
	width: 160px;
	background-color: rgba(0,0,0,0.35);
	color: white;
	border-radius: 0.2em;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.veriteLiens:hover .textVerite {
	visibility: visible;
}

#navTitle {
	font-size: 1em;
	font-family: 'Lobster', cursive;
	color:rgb(89, 179, 0);
}

.nav-item {
	text-align: right !important;
}

.nav-link:after{
	content: "|";
	margin-left: 1em;
	color: inherit;
}

.lastNav {
	content: none;
}

.fbButton{
	display: block;
	margin-left: auto;
	position: relative;
	padding-top: 0.5em;
}

footer {
	background: #3e3b38;
	color: gray;
	text-align: center;
	height: 12em;
}

footer a {
	color: gray;
	text-align: center;
}

footer a:hover {
	color: gray;
	text-decoration: none;
}

.facebook{
	text-align: center;
	display: inline-block;
}

.facebookAll {
	float: center;
	position: relative;
	display: inline-block;
}

.fbBox {
	float: inherit;
	visibility: hidden;
	position: absolute;
}

.facebookAll:hover .fbBox {
	visibility: visible;
}

.copyrightText {
	position: relative;
	float: left;
	display: inline-block;
}

.nameTime {
	color: #c8cac8;
	width: 300px;
	display: none;
	background-color: rgba(0,0,0,0.20);
	border-radius: 0.2em;
	/* Position the tooltip */
	position: relative;
	margin-left: 5em ;
}

.copyrightText:hover +.nameTime {
	display: block;
}


.logo-facebook {
	width: 5em;
	height: 5em;
}

