@import url('https://fonts.googleapis.com/css?family=Lobster');

@font-face {
	font-family: Palatino;
	src: url(Palatino.ttc);
}

body {
	background-size: cover;
	font-family:'Palatino';
	background: linear-gradient(to top, #66d9ff -15%, #ffffff 100%);
	background-size: cover;
	background-repeat: no-repeat;
}

.veriteLiens {
	position: relative;
	display: inline-block;
}

.textVerite {
	visibility: hidden;
	width: 160px;
	background-color: rgba(0,0,0,0.35);
	color: white;
	border-radius: 0.2em;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.veriteLiens:hover .textVerite {
	visibility: visible;
}

#navTitle {
	font-size: 1em;
	font-family: 'Lobster', cursive;
	color: rgb(89, 179, 0);
	text-shadow: -.05em -.05em .05em white , .03em .03em .05em black;
}

.nav-link:after{
	content: "|";
	margin-left: 1em;
	color: inherit;
}

.fbButton{
	margin-left: auto;
	position: relative;
	padding-top: 0.5em;
}

.row-left{
	border-bottom-style: solid;
	border-right-style: solid;
	border-color: rgb(146, 149, 145);
	border-radius: 0.25em;
	box-shadow: 5px 5px rgba(146, 149, 145,0.25);
	margin: 2em;
	padding: 2em;
	background: linear-gradient(to bottom left, #ffffcc 37%, #ffff66 100%);
}

.row-right{
	border-bottom-style: solid;
	border-left-style: solid;
	border-color: rgb(146, 149, 145);
	border-radius: 0.25em;
	box-shadow: -5px 5px rgba(146, 149, 145,0.25);
	margin: 2em;
	padding: 2em;
	background: linear-gradient(to bottom right, #ffffcc 37%, #ffff66 100%);
}

.etudes-article a:visited {
	color: black;
}

.etudes-article a {
	color: black;
	font-size: 0.9em;
}

.row-right img{
	box-shadow: 5px 5px rgb(255, 204, 153);
}

.row-left img{
	box-shadow: -5px 5px rgb(255, 204, 153);
}

/*formulaire contact*/
form {
	background-color: rgb(230, 230, 230);
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 1em;
	border-style: solid;
	border-color: black;
	border-radius: 1em;
}

footer {
	background-color: #3e3b38;
	color: gray;
	text-align: center;
}

footer a {
	color: gray;
	text-align: center;
}

footer a:hover {
	color: gray;
	text-decoration: none;
}

.facebook{
	text-align: center;
	display: inline-block;
	float: right;
	margin-right: auto;
}

.facebookAll {
/*	width: 5%;*/
/*	float: right;*/
/*	position: relative;*/
/*	display: inline-block;*/
}

.fbBox {
/*	visibility: hidden;*/
	display: none;
	position: absolute;
/*	position: relative;*/
}

.facebookAll:hover +.fbBox {
	visibility: visible;
/*	display: block;*/
}

.nameTime {
	visibility: hidden;
	color: #c8cac8;
	background-color: rgba(0,0,0,0.20);
	border-radius: 0.2em;
/*	position: relative;*/
}

.copyrightText:hover +.nameTime {
	visibility: visible;
}

.logo-facebook {
	width: 5em;
	height: 5em;
}


.text_intro{
	border-style: hidden solid solid hidden;
	border-color: silver;
	border-radius: 2em;
	box-shadow : 1em 1em 2em rgb(255, 255, 102) ;
	font-family: Arial;
	font-style: normal;
	background-color: rgb(255, 255, 204);
}

#titre_intro{
	font-family:Lobster;
	font-style: normal;
}

#sous_titre_intro{
	font-family:Lobster;
	margin-bottom: 2em;
}

#phrase_de_fin {
	text-decoration: underline;
}
